@font-face {
  font-family: 'Hanken-Grotesk';
  src: local('Hanken-Grotesk'), url(../assets/fonts/HankenGrotesk-Medium.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}


/* FIRST PAGE ********************** */

.first-page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Hanken-Grotesk';
  font-size: 30px;
  // border: 3px solid black;
}

.welcome-text {
  text-align: center;
  transform: translateY(-50%);
  // border: 1px solid black;
  width: 900px;
  height: 200px;


  p {
    text-align: inherit;
  }

  &__first-line {
    font-size: 18px;
    margin-bottom: 40px;

    span {
      animation: color 2s ease-in;
    }
  }

  &__second-line {
    font-size: 80px;
    font-weight: bold;
  }
}

.xx {
  width: 900px;
  // border: 1px solid black;
  display: flex;
  justify-content: flex-start; 
  text-align: center;
  // margin: auto;
}


/* SECOND PAGE ********************** */

.about__title {
  display: flex;
  align-items: center;

  div {
    width: 300px;
    height: 1px;
    border: .5px solid black;
    margin-left: 15px;
  }
}
.about {
  &__container {
    font-family: 'Hanken-Grotesk';
    width: 100vw;
    height: 100vh;

    &--top {
      height: 85%;
      // border: 1px solid black;
      display: flex;
    }

    &--bottom {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__spiel {
    max-width: 500px;
    margin: 150px 0 0 150px;
    // border: 1px solid black;

    &__content {
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 12px; 
      line-height: 24px;
      max-width: 350px;
    }

    &__info {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      h2 {
        font-size: 14px;
        font-weight: 400;
        width: 110px;
      }

      p {
        font-size: 12px;   
      }
    }

    &__icons {
      margin-top: 30px;

      a {
        margin-right: 20px;
      }
    }
  }

  &__title h1 {
    font-size: 18px;
  }

  &__image--headshot {
    margin: 150px 0 0 270px;
    width: 300px;
    height: 300px;
    // border: 1px solid black;

    img {
      // border: 3px solid red;
      width: 100%;
      // display: block;
      // margin: 0 auto;
      // max-width: 100%;
      // max-height: 100%;
      // width: auto;
      // height: auto;
    }
  }

  &__languages {
    // border: 1px solid black;
    margin-right: 70px;

    &__icons {

      margin-top: 40px;

      div {
        display: inline-block;
        text-align: center;
        margin-right: 40px;
      }

      &__icon {
        font-size: 25px;
      }

      h3 {
        font-size: 10px;
      }
    }

  }
}