@font-face {
  font-family: 'Hanken-Grotesk';
  src: local('Hanken-Grotesk'),
    url(../assets/fonts/HankenGrotesk-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Hanken-Grotesk-Light';
  src: local('Hanken-Grotesk'),
    url(../assets/fonts/HankenGrotesk-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Hanken-Grotesk-Bold';
  src: local('Hanken-Grotesk'),
    url(../assets/fonts/HankenGrotesk-Bold.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Hanken-Grotesk';
}

body {
  overflow: hidden;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

/* HOME ********************** */

.home__container {
  position: relative;
  width: 94%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 3px solid black;
  @media (max-width: 1800px) {
    width: 100%;
  }
}

.welcome-text {
  text-align: center;
  transform: translateY(-50%);
  // border: 1px solid black;
  height: 160px;

  @media (max-width: 1400px) {
    transform: translateY(-23%);
  }

  @media (max-width: 1100px) {
    transform: translateY(-8%);
  }

  p {
    text-align: inherit;
  }

  &__first-line {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    // border: 1px solid black;

    @media (max-width: 1400px) {
      margin-bottom: 20px;
    }

    @media (max-width: 1100px) {
      font-size: 16px;
      margin-bottom: 12px;
    }

    @media (max-width: 420px) {
      font-size: 13px;
    }
  }

  &__second-line {
    font-size: 75px;
    font-weight: bold;
    font-family: 'Hanken-Grotesk-Bold';
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    // border: 1px solid black;

    @media (max-width: 1690px) {
      font-size: 68px;
      width: 850px;
    }

    @media (max-width: 1300px) {
      font-size: 60px;
      width: 800px;
    }

    @media (max-width: 1100px) {
      font-size: 45px;
      width: 620px;
    }

    @media (max-width: 420px) {
      font-size: 22px;
      width: 320px;
    }

    &--a {
      margin-left: 310px;

      @media (max-width: 1680px) {
        margin-left: 220px;
      }

      @media (max-width: 420px) {
        margin-left: 110px;
      }
    }

    &--b {
      margin-left: 100px;

      @media (max-width: 1680px) {
        margin-left: 40px;
      }

      @media (max-width: 420px) {
        margin-left: 20px;
      }

      @media (max-width: 320px) {
        margin-left: 35px;
      }
    }

    &__letter {
      min-width: 16.75px;

      @media (max-width: 420px) {
        min-width: 10px;
      }
    }
  }
}

/* Blocks */
.animated-block {
  position: absolute;

  &--home-1 {
    width: 15px;
    height: 50px;
    top: 10vh;
    left: 26%;

    @media (max-width: 1100px) {
      width: 10px;
      height: 40px;
      top: 12vh;
      left: 29%;
    }
  }

  &--home-2 {
    width: 45px;
    height: 9px;

    @media (max-width: 1100px) {
      width: 35px;
      height: 7px;
    }

    &--a {
      top: 20vh;
      right: 35%;

      @media (max-width: 1450px) {
        top: 13vh;
      }

      @media (max-width: 1100px) {
        top: 10vh;
      }
    }

    &--b {
      top: calc(20vh + 20px);
      right: 35%;

      @media (max-width: 1450px) {
        top: calc(13vh + 20px);
      }

      @media (max-width: 1100px) {
        top: calc(10vh + 15px);
      }
    }

    &--c {
      top: calc(20vh + 40px);
      right: 35%;

      @media (max-width: 1450px) {
        top: calc(13vh + 40px);
      }

      @media (max-width: 1100px) {
        top: calc(10vh + 30px);
      }
    }
  }

  &--home-3 {
    width: 60px;
    height: 10px;
    bottom: 37vh;
    left: 19%;
  }

  &--home-4 {
    width: 13px;
    height: 65px;
    bottom: 100px;
    left: 30%;
  }

  &--home-5 {
    width: 11px;
    height: 50px;
    bottom: 40vh;
    right: 15%;
  }
}

/* WORK PAGE ********************************* */

.work {
  &__container {
    position: relative;
    width: 94%;
    height: 100vh;
    margin: auto;

    @media (max-width: 1800px) {
      width: 100%;
    }
  }
}

/* Flipper */

.flipper2 {
  position: absolute;
  top: 22vh;
  left: 22%;
  width: 78%; /* 100% minus the left value above */
  overflow: hidden;
  cursor: url('../assets/cursors/Picture1.png'), auto;

  // border: 1px solid green;

  @media (max-width: 1700px) {
    top: 15vh;
    left: 15%;
    width: 85%;
  }
  @media (max-width: 1600px) {
    top: 8vh;
  }
  @media (max-width: 1450px) {
    top: 22vh;
  }
  @media (max-width: 1050px) {
    top: 8vh;
  }
  @media (max-width: 420px) {
    top: 15%;
    left: 10%;
    width: 90%;
    height: 85%;
  }

  &__image {
    position: relative;
    will-change: width, height, left, top;
    width: 525px;
    height: 750px;

    @media (max-width: 1450px) {
      width: 350px;
      height: 500px;
    }
    @media (max-width: 900px) {
      width: 280px;
      height: 400px;
    }
    @media (max-width: 321px) {
      width: 216px;
      height: 319px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      will-change: width, height, left, top;
    }

    &--more-projects {
      width: 700px;
      border: 1px solid black;

      div {
        position: relative;
        width: 100%;
        height: 100%;
        background: white;
        font-size: 50px;
        will-change: width, height, left, top;
        text-align: center;
        padding-top: 25%;

        p {
          border: 1px solid black;
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }

  &__title {
    position: absolute;
    font-size: 68px;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to right,
      white,
      white 14.3%,
      black 14.3%,
      black 100%
    );

    @media (max-width: 1450px) {
      font-size: 55px;
    }
    @media (max-width: 900px) {
      font-size: 40px;
    }
    @media (max-width: 420px) {
      color: black;
      font-size: 35px;
    }
    @media (max-width: 376px) {
      font-size: 33px;
    }
    @media (max-width: 321px) {
      font-size: 27px;
    }

    &--1 {
      top: 32%;
      right: -69.7%;

      @media (max-width: 1450px) {
        right: -84.7%;
      }
      @media (max-width: 900px) {
        right: -76.8%;
      }
      @media (max-width: 420px) {
        left: 4%;
        top: 91%;
      }
    }

    &--2 {
      top: 32%;
      right: -54.3%;

      @media (max-width: 1450px) {
        right: -65.8%;
      }
      @media (max-width: 900px) {
        right: -59.8%;
      }
      @media (max-width: 420px) {
        left: 4%;
        top: 91%;
      }
    }

    &--3 {
      top: 32%;
      right: -37.6%;

      @media (max-width: 1450px) {
        right: -45.9%;
      }
      @media (max-width: 900px) {
        right: -41.7%;
      }
      @media (max-width: 420px) {
        left: 4%;
        top: 91%;
      }
    }

    &--4 {
      top: 32%;
      right: -58%;

      @media (max-width: 1450px) {
        top: 32%;
        right: -70.3%;
      }
      @media (max-width: 900px) {
        right: -63.9%;
      }
      @media (max-width: 420px) {
        top: 100%;
        left: 4%;
      }
    }

    &--5 {
      top: 32%;
      right: -56.6%;

      @media (max-width: 1450px) {
        top: 32%;
        right: -68.6%;
      }
      @media (max-width: 900px) {
        right: -62.4%;
      }
      @media (max-width: 420px) {
        top: 100%;
        left: 4%;
      }
    }

    &--6 {
      top: 32%;
      right: -47.2%;

      @media (max-width: 1450px) {
        top: 32%;
        right: -57.2%;
      }
      @media (max-width: 900px) {
        right: -52.1%;
      }
      @media (max-width: 420px) {
        top: 91%;
        left: 4%;
      }
    }
  }

  &__sub-title {
    position: absolute;
    top: 26%;
    right: -130px;
    font-family: 'Hanken-Grotesk-Light';
    font-size: 18px;

    @media (max-width: 1450px) {
      top: 26%;
      right: -130px;
      font-size: 16px;
    }
    @media (max-width: 420px) {
      top: 83%;
      left: 39%;
    }
    @media (max-width: 376px) {
      font-size: 15px;
    }
    @media (max-width: 321px) {
      font-size: 13px;
    }
  }

  &__links {
    // border: 1px solid black;
    position: absolute;
    bottom: 2%;
    right: -57%;
    transform: translateX(-50%);

    @media (max-width: 1450px) {
      bottom: 2%;
      right: -57%;
      transform: translateX(-50%);
    }
    @media (max-width: 420px) {
      bottom: -22%;
      right: -20%;
    }
    @media (max-width: 376px) {
      bottom: -18%;
    }
    @media (max-width: 321px) {
      bottom: -20%;
    }

    a {
      padding: 4px 6px 4px 6px;
      font-size: 13px;

      @media (max-width: 1450px) {
        font-size: 11px;
      }
      @media (max-width: 321px) {
        font-size: 10px;
      }
    }
  }
}

/* Next button */
.flipper-next-button {
  position: absolute;
  display: none;

  @media (max-width: 420px) {
    display: block;
    bottom: 10%;
    left: 12%;
  }
  @media (max-width: 376px) {
    bottom: 8%;
  }
  @media (max-width: 360px) {
    bottom: 8%;
  }
}

/* Page Counter */

.page-counter {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 50px;
  top: 32%;

  @media (max-width: 420px) {
    right: 20px;
    top: 22%;
  }
  @media (max-width: 321px) {
    right: 12px;
  }

  &__line {
    width: 1.5px;
    height: 250px;
    margin: 10px 0 10px 0;

    @media (max-width: 1450px) {
      height: 160px;
    }
    @media (max-width: 1200px) {
      height: 120px;
    }
    @media (max-width: 321px) {
      height: 90px;
    }
  }

  &__number {
    font-size: 12px;
    font-weight: bold;

    @media (max-width: 1450px) {
      font-size: 11px;
    }
    @media (max-width: 1200px) {
      font-size: 10px;
    }
    @media (max-width: 321px) {
      font-size: 9px;
    }
  }
}

/* ABOUT PAGE ********************************* */

.about {
  &__container {
    position: relative;
    width: 94%;
    height: 100vh;
    margin: auto;

    @media (max-width: 1800px) {
      width: 100%;
    }

    &--top {
      display: flex;
      justify-content: center;
      // border: 1px solid black;
    }
  }

  &__spiel {
    width: 900px;
    margin-top: 25vh;

    @media (max-width: 1600px) {
      margin-top: 20vh;
    }
    @media (max-width: 1100px) {
      width: 700px;
      margin-top: 15vh;
    }
    @media (max-width: 900px) {
      width: 600px;
      margin-top: 15vh;
    }
    @media (max-width: 420px) {
      width: 350px;
      margin-top: 21vh;
    }
    @media (max-width: 376px) {
      width: 310px;
      margin-top: 21vh;
    }
    @media (max-width: 321px) {
      width: 280px;
      margin-top: 18vh;
    }

    &__content {
      font-size: 35px;
      line-height: 45px;

      @media (max-width: 1400px) {
        font-size: 30px;
        line-height: 40px;
      }
      @media (max-width: 1100px) {
        font-size: 25px;
        line-height: 35px;
      }
      @media (max-width: 900px) {
        font-size: 20px;
        line-height: 30px;
      }
      @media (max-width: 420px) {
        font-size: 16px;
        line-height: 24px;
      }
      @media (max-width: 321px) {
        font-size: 15px;
        line-height: 20px;
      }

      span {
        display: inline-block;
      }

      &__span--1 {
        font-size: 29px;
        @media (max-width: 1100px) {
          font-size: 25px;
        }
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--2 {
        font-size: 28px;
        @media (max-width: 1100px) {
          font-size: 25px;
        }
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--3 {
        font-size: 27px;
        @media (max-width: 1100px) {
          font-size: 25px;
        }
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--4 {
        font-size: 26px;
        @media (max-width: 1100px) {
          font-size: 25px;
        }
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--5 {
        font-size: 25px;
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--6 {
        font-size: 24px;
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--7 {
        font-size: 23px;
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--8 {
        font-size: 22px;
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--9 {
        font-size: 21px;
        @media (max-width: 900px) {
          font-size: 20px;
        }
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--10 {
        font-size: 20px;
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--11 {
        font-size: 19px;
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--12 {
        font-size: 18px;
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--13 {
        font-size: 17px;
        @media (max-width: 420px) {
          font-size: 16px;
        }
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--14 {
        font-size: 16px;
        @media (max-width: 321px) {
          font-size: 15px;
        }
      }

      &__span--15 {
        font-size: 15px;
      }

      &__span--16 {
        font-size: 14px;
      }

      &__span--17 {
        font-size: 13px;
      }

      &__span--18 {
        font-size: 12px;
      }

      &__span--19 {
        font-size: 11px;
      }

      &__span--20 {
        font-size: 10px;
      }

      &__span--21 {
        font-size: 9px;
      }

      &__span--22 {
        font-size: 8px;
      }

      &__span--23 {
        font-size: 7px;
      }

      &__span--24 {
        font-size: 6px;
      }
      &__span--25 {
        font-size: 5px;
      }
      &__span--26 {
        font-size: 4px;
      }
    }

    &__link {
      // margin: 20px 0;
      margin-top: 8vh;
      font-size: 18px;

      @media (max-width: 1100px) {
        font-size: 14px;
      }
      @media (max-width: 321px) {
        font-size: 12px;
      }

      &--linkedin {
        margin-top: 100px;

        @media (max-width: 1100px) {
          margin-top: 50px;
        }
      }

      &--email {
        display: flex;

        p {
          margin-right: 10px;
          user-select: text;
        }
      }
    }
  }
}

/* PAGE LINKS ********************************* */
.page-link {
  position: absolute;
  font-weight: bold;
  cursor: pointer;

  @media (max-width: 1400px) {
    font-size: 14px;
  }
  @media (max-width: 1100px) {
    font-size: 12px;
  }
  @media (max-width: 420px) {
    font-size: 11px;
  }
  @media (max-width: 321px) {
    font-size: 10px;
  }

  &--projects {
    top: 50px;
    right: 50px;
    transform: rotate(90deg) translate(10px, -30px);

    @media (max-width: 1100px) {
      top: 25px;
      right: 30px;
    }
  }

  &--about {
    bottom: 50px;
    left: 50px;
    transform: rotate(270deg) translate(10px, -30px);

    @media (max-width: 1100px) {
      bottom: 25px;
      left: 30px;
    }
  }
}

.logo {
  width: 60px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;

  @media (max-width: 1100px) {
    top: 15px;
    left: 2px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin: 3px;

    @media (max-width: 1400px) {
      font-size: 14px;
    }
    @media (max-width: 1100px) {
      font-size: 12px;
    }
    @media (max-width: 420px) {
      font-size: 11px;
    }

    &-1 {
      margin-left: 8px;
    }

    &-2 {
      margin-bottom: 6px;
    }

    &-4 {
      margin-bottom: 5px;
    }
  }
}

/* ANIMATED BLOCKS ********************************* */

.script-box {
  will-change: width, height, left, top;
  position: relative;
}
